
.settings
.metadata
.checkstyle
bin
target
.pmd
.ruleset
.springBeans
eclipsebin
.project
.classpath

.class
*.zip
*.jar
*.gz
*.bak
.log
*.box
.idea
gensrc
*.iml
.DS_Store
*.swp
*~
*.orig

classes
testclasses

platformhome.properties
endpoint.properties

.sonar
.gradle
.vagrant
*.log
hmc.xsd

